=link_to "#", class: "side-bar__group__name" do
  %h2 Group
  .side-bar__group__message
    %p まだメッセージはありません
=link_to "#", class: "side-bar__group__name" do
  %h2 Group
  .side-bar__group__message
    %p まだメッセージはありません
=link_to "#", class: "side-bar__group__name" do
  %h2 Group
  .side-bar__group__message
    %p まだメッセージはありません
