=link_to "#", class: "palette__group__name" do
  %h2 Group
  .palette__group__message
    %p まだメッセージはありません
=link_to "#", class: "palette__group__name" do
  %h2 Group
  .palette__group__message
    %p まだメッセージはありません
=link_to "#", class: "palette__group__name" do
  %h2 Group
  .palette__group__message
    %p まだメッセージはありません
