.main__contents__content
  .main__contents__content__title
    %h2
      Hori
      %span 2018/08/21 12:00
  .main__contents__content__body
    %p sample
.main__contents__content
  .main__contents__content__title
    %h2
      Hori
      %span 2018/08/21 12:00
  .main__contents__content__body
    %p sample
.main__contents__content
  .main__contents__content__title
    %h2
      Hori
      %span 2018/08/21 12:00
  .main__contents__content__body
    %p sample
