- @messages.each do |message|
  .main__contents__content
    .main__contents__content__title
      %h2
        = message.user.name
        %span= message.created_at
    .main__contents__content__body
      %p= message.content
