.palette
  .palette__user
    %p Hori
    =link_to "#" do
      %i.fa.fa-cog
    =link_to "#" do
      %i.fa.fa-edit
  .palette__group
    =link_to "#", class: "palette__group__name" do
      %h2 Group
      .palette__group__message
        %p message
    =link_to "#", class: "palette__group__name" do
      %h2 Group
      .palette__group__message
        %p まだメッセージはありません
