.flash {
  color: $white;
  text-align: center;
  &__alert {
    background-color: red;
  }
  &__notice {
    background-color: $sky-blue;
  }
}
// .pop-up {
//   background-color: $sky-blue;
//   width: 100%;
//   height: 30px;
//   .pop-up__message {
//     color: $white;
//     text-align: center;
//     line-height: 30px;
//   }
// }
